@import 'all.css';
.Shapes {
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
}
 .group-box-01{
  display: flex;
  align-items: end;
 }
.group-box-02{
  margin-top: 20px;
  display: flex;
} 
.group-box-01 .box-item-01{
  margin-right: 15px;
}
.group-box-02 .box-item-02{
  margin-right: 15px;
}
.box-item-01{
  width: 75px;
  height: 81px;
  background-color: #F24C27;
  border-top-left-radius: 30px;
}
.box-item-02{
  width: 118px;
  height: 120px;
  background: var(--secondary-color);
  border-bottom-right-radius: 30px;
  float: left;
}




.subtext-header {
  width: 50rem;
}

.wrapper_header {
  margin-top: 35px;
  margin-bottom: 50px;
  position: relative;
}



.header_group {
  position: relative;
}

.content {
  width: 80%;
}

.wrapper-content {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.img-about {
  width: 100%;
  height: auto;
}

.subtext-about {
  width: 82%;
  margin-top: 15px;
  margin-bottom: 50px;
}

.wrap-img-about {
  position: relative;
  margin-bottom: 100px;
}

.box-blue-about {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #232ED1;
  border-radius: 0 0 15px 0;
  right: 96px;
  bottom: -25px;
}

.box-orange-about {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F24C27;
  border-radius: 15px 0 0 0;
  right: 60px;
  bottom: -70px;
}

.description-about {
  margin-bottom: 20px;
  width: 100%;
}

.group-des {
  width: 80%;
}

.container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;

}


.item:first-child {
  display: inline-block;
  grid-row: span 3;
}

.img-item-about {
  width: 100%;
  margin-bottom: 10px;
}

.position {
  font-weight: 600;
  color: #232ED1;
  margin-bottom: 5px;
}

.name {
  margin-bottom: 20px;
  color: black;
}

.item a {
  margin-right: 30px;
}
.card{
  width: 100%;
}
 

/* responsive */
@media screen and (max-width: 442px){
  .group-des h2{
    font-size: 16px !important;
  }
}
@media screen and (max-width: 780px) {
  .content h1:first-child{
    font-size: 20px;
  }
  .position{
    font-size: 14px;
  }
  header {
    height: auto;
  }

  .subtext-header {
    width: 100%;
  }

  .content {
    margin-top: 10px;
  }

  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    width: 26rem;
  }

  .image-content img {
    margin-top: 20px;
  }

  .Shapes {
    margin-top: 15px;
    position: static;
  }

  .wrapper-content {
    margin-top: 5px;
  }

  .group-des h2 {
    font-size: 18px;
    width: 100%;
  }

  .box-blue-about {
    display: none;
  }

  .box-orange-about {
    display: none;
  }

  .wrap-img-about {
    margin-bottom: 20px;
  }

  .description-about {
    text-align: left;
  }

  .group-des {
    width: 100%;
  }

  .content  .container {
    grid-template-columns: 1fr;
  }

}
@media screen and (max-width: 991px) {
  .description-about{
    width: 100%;
    line-height: 1.4;
    font-size: 20px;
  }
  .group-des{
    width: 100%;
  }
  .subtext-about{
    width: 100%;
  }
  .container{
     grid-template-columns:  1fr 1fr 1fr;
  }



}