@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 62.5%;
}

:root {
  /* color */
  --bg-header: #EFF0F8;
  --secondary-color: #232ED1;
  --third-color: #5b5b5b;

  /* font-weight */
  --fw-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;

  /* font-size */
  --fs-largest: 6.4rem;
  --fs-large: 4.8rem;
  --fs-large-sp: 3.6rem;
  --fs-medium: 2.4rem;
  --fs-medium-down: 2.2rem;
  --fs-small: 1.8rem;



}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  position: relative;
  font-family: Poppins, sans-serif;
}

header {
  height: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--bg-header);
}

.font-largest {
  font-size: clamp(4rem, 6vw, var(--fs-largest));
  font-weight: var(--fw-bold);
  line-height: clamp(1.15em, 5.5vw, 1.25em);
}

.font-large {
  font-size: clamp(3.2rem, 5vw, var(--fs-large));
  font-weight: var(--fw-bold);
  line-height: clamp(1.15em, 4.8vw, 1.3em);
}

.font-sp-large {
  font-size: clamp(2rem, 5vw, var(--fs-large-sp));
  font-weight: var(--fw-bold);
  line-height: clamp(1.15em, 4.8vw, 1.28em);
}

.font-medium {
  font-size: clamp(2rem, 3.5vw, var(--fs-medium));
  font-weight: var(--fw-medium);
  line-height: clamp(1.2em, 2.8vw, 1.35em);
}
.font-medium-bold {
  font-size: clamp(2rem, 3.5vw, var(--fs-medium));
  font-weight: var(--fw-bold);
  line-height: clamp(1.2em, 2.8vw, 1.35em);
}


.font-medium-down {
  font-size: clamp(1.8rem, 3vw, var(--fs-medium-down));
  font-weight: var(--fw-medium);
  line-height: clamp(1.25em, 2.5vw, 1.35em);
}

.font-medium-gray {
  color: #5b5b5b;
  font-size: clamp(2rem, 3.5vw, var(--fs-medium));
  font-weight: var(--fw-medium);
  line-height: clamp(1.2em, 2.8vw, 1.35em);
}

.font-sp-medium {
  font-size: clamp(1.8rem, 3vw, var(--fs-medium-down));
  font-weight: var(--fw-medium);
  line-height: clamp(1.25em, 2.5vw, 1.35em);
}

.font-small {
  font-size: clamp(1.6rem, 2.5vw, var(--fs-small));
  font-weight: var(--fw-medium);
  line-height: clamp(1.3em, 2vw, 1.4em);
}

.font-small-gray {
  color: #5b5b5b;
  font-size: clamp(1.6rem, 2.5vw, var(--fs-small));
  font-weight: var(--fw-medium);
  line-height: clamp(1.3em, 2vw, 1.4em);
}

.text-content {
  width: 50%;
}

.header-group {
  width: 90%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-md {
  display: flex;
  list-style: none;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-right: 20px;

}

.nav-md li a {
  text-decoration: none;
  color: gray;
  padding-right: 20px;
}

.btn-clone {
  padding: 10px 20px;
  border: 2px solid #232ED166;
  border-radius: 5px;
  background: inherit;
}

#menu-icon {
  display: none;
}

.sidebar {
  position: absolute;
  background-color: rgb(36, 47, 209);
  height: 100vh;
  z-index: 100;
}

.sidebar.hidden {
  display: none;
}

.menu-bar {
  display: block;
  list-style: none;
}

.menu-bar li {
  padding: 10px 100px 10px 20px;

}

.menu-bar li:first-child {
  margin-top: 50px;
}

.menu-bar li a {
  color: white;
  text-decoration: none;
}

.menu-bar li:hover {
  background-color: rgb(66, 77, 235);

}

.wrapper-header {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background: inherit;
}

.lables__header {
  margin-bottom: 20px;
}

.sup {
  margin-bottom: 30px;

}

.nav-links a:hover {
  color: var(--secondary-color);
}

.date {
  color: #232ED1;
}

/* footer */
.t1-footer {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.box-header-footer {
  translate: 0 50%;
  width: 60%;
  background-color: #232ED1;
  padding: 70px 40px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;


}

.tf {
  display: block;
}

.btn-footer {
  padding: 10px 50px;
  background-color: #F24C27;
  border: none;
  color: white;
  border-radius: 5px;
}

.box-footer-contact {
  background-color: var(--third-color);
}

.box-orange {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #F24C27;
  top: 0;
  left: -70px;
}

.box-blue {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #232ED1;
  bottom: 0;
  right: -40px;

}

.group-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EFF0F8;
}

.wrap-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EFF0F8;
  margin-top: 300px;
  margin-bottom: 200px;
}

.logo-group-footer {
  display: flex;
  flex-direction: column;
}

.logo-group-footer .logo {
  margin-bottom: 10px;
}

.group-social-box a {
  margin-right: 10px;


}

.group-social-box {
  display: flex;
  align-items: center;
}

.group-text-nav ul {
  list-style: none;

}

.group-text-nav ul li a {
  text-decoration: none;
  color: var(--third-color);
}

.group-nav-footer {
  margin-top: 40px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.box-nav-footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.addressBox {
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxInput {
  width: 60%;
  position: relative;
  display: flex;
}

.boxInput input {
  border: none;
  padding: 25px 25px;
  width: 100%;
  outline: none;
}

.boxInput input::placeholder {
  font-size: 18px;
  font-weight: 500;
}

.boxInput .btn-footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  top: 10px;
}

.copyright {
  font-size: 12px;
  text-align: center;
  background-color: #232ED1;
  padding: 10px 0;
  width: 100%;
  color: white;
  margin-top: 0;
}

.group-text-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.image-content img {
  width: 100%;
  height: auto;
}


.address {
  font-weight: 500;
  color: var(--third-color);
}

.title-nav {
  margin-bottom: 35px;
}

.group-text-nav ul li {
  margin-bottom: 20px;
}

/*navbar responsive */
@media screen and (max-width: 833px) {
  #menu-icon {
    display: inline-block;
    font-size: 22px;
  }

  .nav-links {
    display: none;
  }



}

/* Tablet (<=768px) */
@media screen and (max-width: 1024px) {
  .text-content {
    width: 100%;
  }

  .box-header-footer {
    width: 73%;
  }

  header {
    height: auto;
    padding-bottom: 20px;
  }

  .section3 {
    padding-bottom: 10px;
  }

  .group-box-feature {
    margin-top: 10px;
  }

  .group-box-feature .feature1-s4:first-child {
    margin-top: 10px;
  }

  .box-content {
    flex-direction: column;
  }

  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    margin-bottom: 0px;
  }

  .sup {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .des3 {
    margin-bottom: 10px;
  }

  .image-content img {
    margin-top: 20px;
  }

  .box-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-group-s2 {
    margin-top: 10px;
  }

  .logo-group-s2 {
    display: none;
  }

  .box-content {
    margin-top: 20px;
  }

  .section3 img {
    width: 100%;
    height: auto;
  }

  .tb2-s3 {
    width: 80%;
  }

  .text-box-s3 {
    padding: 10px 10px 10px;
  }

  .section3 {
    height: auto;
  }

  .section2 {
    height: auto;
    margin-bottom: 20px;
  }

  .feature1-s4 {
    width: 100%;
    flex-direction: column;
  }

  .feature1-s4 img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .t3-s4,
  .t2-s4 {
    width: 100%;
  }

  .odd {
    flex-direction: column-reverse;
  }

  .cus-header {
    margin-top: 50px;
  }

  .wrapper-saq {
    margin-top: 30px;
  }

  footer {
    margin-top: 10px;
  }

  .group-text-footer {
    flex-direction: column;
  }

  .box-header-footer {
    padding: 40px 35px;
  }

  .box-orange {
    width: 20px;
    height: 20px;
    left: -40px;
  }

  .box-blue {
    width: 10px;
    height: 10px;
    right: -25px;
  }

  .logo-group-footer {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .group-nav-footer {
    flex-direction: column;
  }


  .box-nav-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .group-text-nav {
    margin-right: 20px;
  }

  .addressBox {
    flex-direction: column;
    align-items: flex-start;
  }



  .addressBox input::placeholder {
    font-size: 10px;
  }

  .addressBox .last {
    position: static;
    padding: 15px 10px;
    margin-top: 7px;

  }

  .boxInput {
    width: 100%;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
  }

  .boxInput input::placeholder {
    font-size: 17px;
    font-weight: 500;
  }

  .boxInput input {
    padding: 20px 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid rgb(216, 217, 227);
  }

  .t1-footer {
    text-align: center;
    width: 100%;
  }

  .btn-footer {
    margin-top: 7px;
    width: 100%;
    border-radius: 2px;
  }

  .wrap-footer {
    margin-top: 150px;
    margin-bottom: 70px;
  }






}


@media (min-width: 1025px) and (max-width: 1400px) {
  .addressBox {
    flex-direction: column;
    align-items: flex-start;
  }


  .addressBox input::placeholder {
    font-size: 10px;
  }

  .addressBox .last {
    position: static;
    padding: 10px 10px;

  }

  .boxInput {
    width: 100%;
    display: flex;
    padding: 5px 0;
    flex-direction: column;
  }

  .boxInput input::placeholder {
    font-size: 14px;
    font-weight: 500;
  }

  .boxInput input {
    padding: 20px 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid rgb(216, 217, 227);
  }
}

@media (max-width: 430px) {
  .t1-footer {
    font-size: 18px;
  }

  .btn-footer {
    font-size: 12px;
  }

  .address {
    font-size: 13px;
  }

  .boxInput input {
    padding: 15px 10px;
    margin-bottom: 0;
  }

  .btn-clone {
    font-size: 12px;
  }

  .group-nav-footer {
    width: 80%;
  }

  .addressBox {
    width: 80%;
  }

  .lables__header {
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0;
  }
}