.text-content{
  width: 57%;
}
.date {
  color: #232ED1;
}

.t4-s4 {
  color: black;
  text-decoration: none;
}
.wrapper-header{
  margin-bottom: 70px;
}

.wrapper-content {
  display: flex;
  justify-content: center;
}

.content-blog {
  width: 80%;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}


.content-title {
  margin-top: 90px;
  margin-bottom: 60px;
}

.feature-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.item img {
  width: 90%;
}

.item h2,
a {
  font-weight: 500;
}

.mg {
  margin-top: 40px;
}
.feature-description{
  margin-bottom: 20px;
}
/* responsive */
@media screen and (max-width: 769px){
  header{
    padding-bottom: 0;
  }
  .wrapper-header{
    margin-bottom: 20px;
  }
.t4-s4{
  font-size: 14px;
}
}
@media screen and (max-width: 991px) {
  .date{
    font-size: 14px;
  }
  .t4-s4{
    font-size: 16px;
  }
  .feature-description{
    font-size: 18px;
  }
  header {
    height: auto;
  }
.text-content{
  width: 100%;
}
  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    width: 100%;
  }

  .image-content img {
    margin-top: 20px;
  }

  .container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
  }

  .item {
    width: 100%;
    margin-bottom: 20px;
  }
  .content-title{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .item img{
    width: 100%;
  }


}
@media (min-width: 992px) and (max-width: 1350px){
  .text-content{
    width: 70%;
  }
}