.shape{
  display: flex;
  align-items: end;
}
.box-item-01{
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-color: #F24C27;
  border-top-left-radius: 10px;
}
.box-item-02{
  width: 40px;
  height: 40px;
  background: var(--secondary-color);
  border-bottom-right-radius: 10px;
}
.sub {
  font-weight: 500;
  color: #5b5b5b;
}

.text {
  width: auto;
}

header {
  background: #fff;
  height: auto;
}

.title-form {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
}

.text-content {
  margin-right: 30px;
  width: 35%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}

.container input {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(216, 217, 227);
  outline: none;
  border-radius: 5px;

}

.container button {
  grid-column: span 2;
  padding: 15px;
  background-color: #F24C27;
  color: white;
  outline: none;
  border: 1px solid rgb(216, 217, 227);
}

.span-2 {
  grid-column: span 2;
}

.wrapper-header {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid rgb(216, 217, 227);
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 150px;
}
.form-group{
  width: 50%;
}



/* responsive */
@media screen and (max-width: 1024px) {
  header {
    height: auto;
  }

  .text {
    width: 100%;
  }

  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    width: 260px;
    font-size: 20px;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: 100%;
  }

  .form-group {
    width: 100%;
  }

  .span-2 {
    grid-column: 1;
  }

  .span-1 {
    grid-column: 1;
  }
  .text-content{
    width: 100%;
  }


}