@import "all.css";


.description{
  width: 50%;
  margin-right: 20px;
}


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
align-items: center;

}
.logo-group-s2 img{
  width: 100%;
}
.wrap-footer {
  margin-top: 160px;
}

.content {
  width: 90%;
}

.btn-primary {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 2px;
}

.btn-secondary {
  background-color: none;
  color: var(--third-color);
  border: none;
  padding: 10px 20px;
}

.wrapper {
  background-color: rgb(242, 243, 252);
  margin-top: 70px;
  display: flex;
}




.text-group-s2 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.header-s2 {
  margin-top: 20px;
  color: var(--third-color);
}

.logo-group-s2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;

}

.logo-group-s2 li {
  padding-right: 50px;
  display: flex;

}

.box-content {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.des1 {
  color: var(--secondary-color);
}

.des2 {
  margin-top: 10px;
  color: #0D1317;
}

.des3 {
  margin-top: 10px;
  color: var(--third-color);
}

.group-box {
  width: 90%;
  height: 80%;
}

.section1 {
  height: 100vh;
}

.section3 {
  margin-top: 60px;
}


.img-s3 {
  width: 100%;
  height: 70%;

}

.text-box-s3 {
  translate: 25% -50%;

  width: 80%;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--secondary-color);
}

.tb1-s3 {
  color: white;
  width: 30%;
}

.tb2-s3 {
  color: white;
  width: 50%;
}

.wrapper-s3 {
  display: flex;
}

.group-box-feature {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature1-s4 {
  display: flex;
  margin-top: 60px;
  width: 100%;
  justify-content: space-between;


}

.feature1-img {
  width: 50%;
}
.feature1-img.even{
  width: 50%;
  margin-right: 0px;
}
.feature1-des-s4.even{
  margin-right: 100px;
}

.feature1-des-s4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.t1-s4 {
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.t3-s4 {

  color: var(--third-color);
  margin-bottom: 10px;

}

.t4-s4 {
  color: black;
  text-decoration: none;
}

/* end */


.customer-comment {
  margin-top: 60px;
}

.title-saq {
  margin-top: 60px;
}

.SAQ {
  width: 70%;
}

.list-question li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.wrapper-saq {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
}

.number.active {
  color: var(--secondary-color);
}

.number {
  margin-right: 15px;
  flex-shrink: 0;
}

.question {
  font-weight: 500;
}
.answer.active{
  display: inline-block;
}
.answer {
  display: none;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--third-color);
}

.wrap-list-question {
  display: flex;
  justify-content: center;
}

.box-header {
  width: 60%;
  background-color: var(--secondary-color);
  padding: 30px 50px;
  position: relative;


}

.group-text-nav ul li {
  margin-bottom: 20px;
}

.group-text-nav p {
  margin-bottom: 18px;
}

.box-comment {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 20px;
}

.item {
  background: linear-gradient(45deg,rgba(35, 46, 209, 0.2), rgba(182, 186, 255, 0.1));
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}


.item-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 5vw;
  max-width: 40px;
  min-width: 40px;
  height: auto;
  border-radius: 50%;
}



.item-tit {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.item-tit h2 {
  font-size: 1.8rem;
  font-weight: 600;
}



.item-content p {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-top: 1rem;
}
.whyBox{
  display: flex;
  margin-top: 20px;
}


.wrap-whyBox{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.whyBox-item{
  background: linear-gradient(45deg,rgba(35, 46, 209, 0.2), rgba(182, 186, 255, 0.1));
  padding: 10px;
  width: 260px;
  height: 260px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: var(--secondary-color);

}
.whyBox-item img, .whyBox-item h3{
  margin-left: 20px;
}
.whyBox-item img{
  margin-top: 50px;
  margin-bottom: 40px;
}
.wrap-whyBox.right{
  margin-top: -20px;
}
.whyBox-item.mark{
  background: linear-gradient(45deg,rgba(242, 76, 39, 0.2), rgba(255, 217, 208, 0.1));
  color: rgba(242, 76, 39, 1);

}
.section3{
  position: relative;
  width: 100%;
  margin-bottom: 150px;
}
.text-group-s3{
  position: absolute;
  right: 0px;
  bottom: -25%;
  width: 72%;
  background: rgba(35, 46, 209, 1);
  padding: 8rem;
  border-top-left-radius: 15px;
  color: white;
  display:flex;
  align-items: center;
}
.title-s3 {
width: 25%;
margin-right: 60px;
}
.des-s3 {
width: 60%;
}
@media (min-width: 576px) and (max-width: 767.98px){
  .title-s3 {
    width: 90%;
    margin: 0;
    }
    .des-s3 {
    margin-top: 10px;
    width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
 
}
@media (min-width:992px) and (max-width: 1199.98px){
  .text-group-s3{
    padding: 50px;
  }
  .description {
    width: 55rem;
    margin-right: 5rem;
  }
}

@media (max-width: 300px) {
  .box-comment .item {
      padding: 2px;
      width: 80%;
  }
}






/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .cus-header{
    margin-bottom: 20px;
  }
  .box-comment{
    gap: 20px;
    padding: 0;
    width: 100%;
  }
  .item{
    width: 100%;
    margin-right: 0px;
  }
  .wrap-whyBox{
    margin-right: 0px;
  }
 .section3{
  margin-bottom: 20px;
 }
  .cus-header{
    font-size: 18px;
  }
  .item-content p{
    font-size: 12px;
  }
  .question{
    font-size: 15px;
  }
  .answer{
    font-size: 10px;
  }
  .title-s3{
    width: 100%;
    margin-right: 0;
    margin-bottom: 2px;
  }
  .des-s3{
    width: 100%;
  }
 
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px){ 
  header {
    height: auto;
    padding-bottom: 20px;
  }


  .group-box-feature {
    margin-top: 10px;
  }

  .group-box-feature .feature1-s4:first-child {
    margin-top: 10px;
  }

  .box-content {
    flex-direction: column;
  }

  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    margin-bottom: 0px;
  }

  .des3 {
    margin-bottom: 10px;
  }

  .image-content img {
    margin-top: 20px;
  }

  .box-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .section2{
    width: 100%;
  }

  .text-group-s2 {
    margin-top: 10px;
  }

  .logo-group-s2 {
    display: none;
  }

  .box-content {
    margin-top: 20px;
  }

  .section3 img {
    width: 100%;
    height: auto;
  }

  .tb2-s3 {
    width: 80%;
  }

  .text-box-s3 {
    padding: 10px 10px 10px;
  }

  .section3 {
    margin-bottom: 40px;
    height: auto;
  }

  .section2 {
    height: auto;
    margin-bottom: 20px;
  }

  

  .t3-s4,
  .t2-s4 {
    width: 100%;
  }

  .odd {
    flex-direction: column-reverse;
  }

  .cus-header {
    margin-top: 50px;
  }

  .wrapper-saq {
    margin-top: 30px;
  }



  /*  */
  


 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .t1-s4{
    font-size: 14px;
  }
  .t3-s4{
    font-size: 16px;
  }
  .t4-s4{
    font-size: 14px;
  }
  .box-comment{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .whyBox-item img{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .whyBox{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .whyBox-item{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    height:100%;
  }
  .wrap-whyBox.right{
    margin-top: 0px;
  }

  .wrap-whyBox{
    margin-right: 0;
  }
  .feature1-des-s4{
    width: 100%;
  }
  .feature1-s4 {
    width: 100%;
    flex-direction: column;
  }

  .feature1-s4 img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }
  .SAQ{
    width: 100%;
  }
  .feature1-img.even{
    width: 100%;
  }
  .text-content{
    width: 100%;
  }
  header {
    height: auto;
    padding-bottom: 20px;
  }

  .wrapper-header {
    flex-direction: column;
    margin-top: 20px;
  }

  .lables__header {
    margin-bottom: 0px;
  }

  .sup {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .header-s2{
    font-size: 14px;
  }
.des1{
  font-size: 14px;
}
  .des3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
.des-s3{
  font-size: 14px;
}
  .image-content img {
    margin-top: 20px;
  }

  .box-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-group-s2 {
    margin-top: 10px;
  }

  .logo-group-s2 {
    display: none;
  }

  .box-content {
    align-items: center;
    margin-top: 20px;
  }

  .section3 img {
    width: 100%;
    height: auto;
  }

  .tb2-s3 {
    width: 80%;
  }

  .text-box-s3 {
    padding: 10px 10px 10px;
  }

  .section3 {
    margin-top: 30px;
    height: auto;
    margin-bottom: 10px;
  }

  .section2 {
    height: auto;
    margin-bottom: 20px;
  }

  .feature1-s4 {
    width: 100%;
    flex-direction: column;
  }

  .feature1-s4 img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .t3-s4,
  .t2-s4 {
    width: 100%;
  }

  .odd {
    flex-direction: column-reverse;
  }

  .cus-header {
    margin-top: 50px;
  }


  .wrapper-saq {
    margin-top: 30px;
  }
  .description{
    width: 100%;
    margin-right: 0;
  }
   .title-s3{
    margin-right: 0px;
    margin-bottom: 5px;
    width: 100%;
   }
   .des-s3{
    width: 100%;
   }
  .text-group-s3{
    margin-top: -5px;
    border-top-left-radius: 0px;
     width: 100%;
     position: static;
     padding: 20px;
     flex-direction: column;
   }
   .feature1-s4{
    margin-top: 20px;
   }
 }

/* Large devices (desktops, less than 1200px) */
@media  (max-width: 1199.98px) { 

  .box-content {
    justify-content: center;
  }

 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }

