
@import "all.css";
/*  */
header{
    height: 80vh;
}
.box-header h1:first-child{
    margin-top: 10px;
}
.wrapper_header{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtext-header{
  margin-top: 20px;
    width: 48rem;
    text-align: center;
}
.dola{
    font-size: 20px;
}
.month{
    font-size: 20px;
    color: #5B5B5B;
}
.price{
  font-size: clamp(6rem,6vw, 9.4rem);
    font-weight: 600;
}
.content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.wrapper_content{
    display: flex;
    justify-content: center;
    translate: 0 -50%;
   
}

.box-features ul li h3{
    display: inline-block;
    font-weight: 500;
    font-size: inherit;
}
.box-features ul li{
margin-bottom: 10px;
}

.box-pricing{
    display: flex;
    flex-direction: column;
    width: 31%;
    padding: 30px;
    background: linear-gradient(#FFFFFF, #ECEDFF);
}
.box-header h2{
    margin-top: 40px;
}
.box-content .box-features ul li{
    list-style: none;
    margin-bottom: 24px;
}
.box-content{
    display: flex;
    flex-direction: column;
    height: 60%;
}
.group-text-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.box-features{
 flex-grow: 1;
}
.box-button{
    display: flex;
    justify-content: center;
}
.subtext-boxpricing{
    margin-bottom: 20px;
}
.btn-feature1{
    padding: 10px 50px;
    border: 1px solid #232ED1;
    font-weight: 600;
    color: #232ED1;
    font-size: 20px;
    border-radius: 5px;
}
.btn-feature2{
    padding: 10px 50px;
    background-color: #F24C27;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.title-saq {
    margin-top: 60px;
  }
  
  .SAQ {
    width: 60%;
  }
  .SAQ h2:first-child{
    margin-bottom: 50px;
  }
  
  .list-question li {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
  }
  
  .wrapper-saq {
    margin-top: -240px;
    display: flex;
    justify-content: center;
  }
  
  .question-container {
    display: flex;
    flex-direction: column;
  }
  
  .number.active {
    color: var(--secondary-color);
  }
  
  .number {
    margin-right: 15px;
    flex-shrink: 0;
  }
  
  .question {
    font-weight: 500;
  }
  .answer.active{
    display: inline-block;
  }
  .answer {
    display: none;
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--third-color);
  }
  
  .wrap-list-question {
    display: flex;
    justify-content: center;
  }

.cus-header{
    margin-top: 70px;
    font-weight: 600;
    font-size: 30px;
    
}
.customer-comment{
    width: 80%;
}
.wrap-cus{
    display: flex;
    justify-content: center;
}

.box-comment {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 20px;
  }
  
  .item {
    background: linear-gradient(45deg,rgba(35, 46, 209, 0.2), rgba(182, 186, 255, 0.1));
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  
  .item-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .avatar {
    width: 5vw;
    max-width: 40px;
    min-width: 40px;
    height: auto;
    border-radius: 50%;
  }
  
  
  
  .item-tit {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .item-tit h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  
  
  .item-content p {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-top: 1rem;
  }


@media  screen and (max-width: 540px) {
  .box-comment{
    gap: 20px;
    padding: 0;
    width: 100%;
  }
  .item{
    width: 100%;
    margin-right: 0px;
  }
  .SAQ h2:first-child {
    font-size:24px;
  }
}

  @media (max-width: 991.98px) { 
    .box-comment{
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  header{
    height: auto;
  }
    .SAQ{
        width: 100%;
    }
    .subtext-header{
        width: 100%;
    }
    .wrapper_content{
        translate: 0;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .box-pricing{
        margin-top: 10px;
        width: 100%;
    }
    .title-saq{
        margin-top: 60px;
        font-weight: 600;
        font-size: 30px;
    }
    .SAQ{
        width: 80%;
    }
    .SAQ h2:first-child {
        margin-bottom: 20px;
    }
    .list-question li {
        display: flex;
        align-items: center; 
        border-bottom: 1px solid gray;
        padding: 15px 0;
    }
    .wrapper-saq{
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .question-container {
        display: flex;
        flex-direction: column;
        flex: 1; 
    }
  
    .number {
        font-weight: 500;
        font-size: 24px;
        margin-right: 15px;
        flex-shrink: 0;
    }
    .question {
        font-weight: 500;
        font-size: 17px;
    }
    .answer {
        margin-top: 5px;
        font-weight: 500;
        font-size: 14px;
        color: gray;
    }
    .wrap-list-question{
        display: flex;
        justify-content: center;
    }
    .cus-header{
        font-size: 20px;
        margin-top: 50px;
      }



}
