@import 'all.css';
@media (min-width:992px) and (max-width:1271px){
  .wrap-img-01 {
   width: 130px !important;
  }
  .wrap-img-02{
    width: 33.8rem !important; 
  }


}
.image-content {
  display: flex;
  gap: 40px;
  position: relative;
}

.wrap-img-01 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 225px; 
}

.img-ct-01 {
  border-top-left-radius: 50px;
  width: 100%;
}

.box-blue-ct {
  width: 48px;
  height: 48px;
  background-color: #2d2df5;
  position: absolute;
  top:30%;
  right: 0;
  border-bottom-right-radius: 15px;
}

.wrap-img-02 {
  position: relative;
  width: 43.8rem; 
  border-bottom-right-radius: 150px;
  padding-right: 5.5rem;
}

.wrap-img-02 img {
  width: 100%;
  border-radius: inherit;
}

.box-orange-ct {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: rgba(242, 76, 39, 1);
  border-bottom-left-radius: 10px;
}

.even{
  margin-right: 20px;
}
.mark{
  width: 45%;
}
.btn-primary{
    background-color: rgb(36, 47, 209);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 2px;
}
.btn-secondary{
    background-color: none;
    color: gray;
    border: none;
    padding: 10px 20px;
}
.text-content{
  width: 55%;
  margin-right: 10px;
}

/*  */
.content{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.section1{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
  
}
.icon-box{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #EFF0F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30%;
}
.group-box{
    margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.group-box-feature {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature1-s1 {
  display: flex;
  margin-top: 60px;
  width: 100%;
  justify-content: space-between;


}

.feature1-img {
  width: 50%;
}
.feature1-img.even{
  width: 50%;
  margin-right: 0px;
}
.feature1-des-s1.even{
  margin-left: 40px;
  margin-right: 70px;
}

.feature1-des-s1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.t1-s1{
    color: #232ED1;
    margin-bottom: 10px;
}
.t2-s1{
    width: 100%;
}
.t3-s1{

    width: 50rem;
    color: #5B5B5B;
    margin-top: 5px;
    margin-bottom: 10px;

}

.t4-s1{
    color: black;
    text-decoration: none;
}
.feature1-s1 ul li{
color: #5B5B5B;
margin-left: 17px;
}
.HappySection{
  width: 80%;
  margin-top: 100px;
}

.wrapBox{
  margin-top: 5px;
}

.wrap-last-el{
  position: relative;
}

.box-text-el{
  position: absolute;
  bottom: -90px;
  right: 0px;
  width: 505px;
  padding: 60px;
  background: rgba(242, 76, 39, 1);
  border-top-left-radius: 100px;
  color: white;
  }
  
  .box-blue-el{
    width: 48px;
    height: 48px;
    background:#232ED1;
    position: absolute;
    bottom:33%;
    right:10%;
    border-bottom-left-radius: 20px;
  }
  .title-s1{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 50px;
  }

 
@media (max-width: 386px) {
  .box-text-el h2{
    font-size: 14px !important;
  }
}
@media screen  and (max-width:548px) {
  .wrap-img-01 img{
    border-top-left-radius: 10px;
  }
  .box-blue-ct{
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 5px;
  }
  .wrap-img-02{
    padding-right: 30px;
    border-bottom-right-radius: 10px;
  }
  .image-content{
    gap: 15px;
  }
  .box-orange-ct{
    width: 20px;
    height: 20px;
    border-bottom-left-radius: 5px;
  }
}


/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .t1-s1{
    font-size: 16px;
  }
  .t3-s1{
    font-size: 18px;
  }
 .t4-s1{
  font-size: 16px;
 }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .t1-s1{
    font-size: 15px;
  }
  .box-text-el p{
    font-size: 16px;
   }
  .wrapper-header{
    flex-direction: column;
    margin-top: 20px;
  }
  .text-content{
    width: 100%;
  }
  .group-box{
    flex-direction: column;
  }
  .group-box .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
.icon-box{
  margin-right: 30px;
}
.wrapBox{
  width: 100%;
  
}
.box h3{
  width: 100%;
  margin-top: 0px;
}
.feature1-des-s1{
  margin-left: 0px !important;
  width: 100%;
}
.feature1-s1 {
  width: 100%;
  flex-direction: column;
}

.feature1-s1 img {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-top: 20px;
}
.feature1-img.even{
  width: 100%;
}
.feature1-s1 {
  width: 100%;
  flex-direction: column;
}

.feature1-s1 img {
  width: 100%;
  height: auto;
  margin-right: 0;
  margin-top: 20px;
}
  .odd{
    flex-direction: column-reverse;
  }
  .box-text-el{
    margin-top: -5px;
    position: static;
    width: 100%;
    border-top-left-radius: 0px;
    padding: 30px;
  }
  .HappySection{
    position: relative;
    width: 100%;
  }
  .box-blue-el{
    right: -20px;
    bottom:-19px;
  }
  .t3-s1{
    width: 100%;
  }
  .box-text-el h2{
    font-size: 20px !important;
  }
  .sup{
    margin-bottom: 15px;
  }
  .title-s1{
    margin-top: 20px;
    width: 100%;
  }
  .t4-s1{
    font-size: 15px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1425px) {
.t3-s1{
  width: 90%;
}
}

